// src/assets/styles/theme/dark/variables.scss
$theme-bg-color: #1d1e23; // 深色背景颜色
$theme-text-color: #fff;   // 深色文本颜色
$theme-primary-color: #409EFF; // 主题主色
$theme-secondary-color: #909399; // 主题次要颜色