// src/assets/styles/theme/light/variables.scss
$theme-bg-color: #f0f2f5; // 浅色背景颜色
$theme-text-color: #333;   // 浅色文本颜色
$theme-primary-color: #f6f6f7; // 主题主色
$theme-secondary-color: #606266; // 主题次要颜色