// src/assets/styles/theme/variables.scss
$theme-bg-color: #f0f2f5; // 默认背景颜色
$theme-text-color: #333;   // 默认文本颜色
$theme-primary-color: #409EFF; // 主题主色
$theme-secondary-color: #606266; // 主题次要颜色